{{ block "index" .}}

<html>

<head>
	<script src="https://unpkg.com/htmx.org@2.0.4"></script>
	<!-- <link rel="preload" href="./js/moment.min.js" as="script"> -->
	<script src="./js/moment.min.js"></script>
</head>

<body hx-get="/tasks" hx-swap="outerHTML" hx-target="#tasks" hx-trigger="load">
	{{ template "profile" . }}
	<h1>Tasks!</h1>
	<button hx-get="/tasks" hx-swap="outerHTML" hx-target="#tasks">Refresh</button>
	{{ block "tasks" .Tasks }}
	<div id="tasks">
		{{ range . }}
		{{ template "task" . }}
		{{ end }}
	</div>
	{{ end }}
	<script>
		document.body.addEventListener('htmx:beforeSwap', function (evt) {
			if (evt.detail.xhr.status === 404) {
				// alert the user when a 404 occurs (maybe use a nicer mechanism than alert())
				alert("Error: Could Not Find Resource");
			} else if (evt.detail.xhr.status === 400) {
				// allow 422 responses to swap as we are using this as a signal that
				// a form was submitted with bad data and want to rerender with the
				// errors
				//
				// set isError to false to avoid error logging in console
				evt.detail.shouldSwap = true;
				evt.detail.isError = false;
			} else if (evt.detail.xhr.status === 418) {
				// if the response code 418 (I'm a teapot) is returned, retarget the
				// content of the response to the element with the id `teapot`
				evt.detail.shouldSwap = true;
				evt.detail.target = htmx.find("#error-target");
			}
		});
	</script>
</body>

</html>

{{end}}


{{ block "task" .}}
<div id="task">
	<h2>{{ .Name}}</h2>
	<p>{{ .Description }}</p>
	<p>Due Date: {{ .DueDate }}</p>
	<p>Completed: {{ .Completed }}</p>
	<button hx-delete="/tasks?id={{ .ID }}" hx-swap="outerHTML">Delete</button>
</div>
{{ end }}

{{ block "profile" .}}
<nav style="padding:10px;">
	{{ if .Name }}
	<div style="display: flex;justify-content: end;gap: 10px;align-items: center;">
		<img src="{{ .Picture }}" alt="Profile Picture" style="width: 50px;border-radius: 50px;">
		<div style="display: flex;flex-direction: column;justify-content: center;">
			<span style="font-size: 25px;text-transform: capitalize;"> {{ .Name }}</span>
			<a href="/logout">Logout</a>
		</div>
		{{ else }}
		<a href="/google-auth">Google Auth</a>
		{{ end }}
	</div>
</nav>
{{ end }}
